@import "./utils/variables";                    /*------------début des variables et miwins-----------*/
@import "./utils/mixinflex";
@import "./utils/mixinshadow";
@import "./components/button";
@import "./layout/headerHomePage";
@import "./layout/headerMenu";
@import "./layout/footer";
@import "./base/animation";
@import "./base/base";


                       /*------fin des variables mixins et import---------*/
.homePage-container {
    max-width: 1440px;
    margin: auto;
    h1 {
        text-align: center;
        padding: 15px 0px 6px 0px; 
    }
}

.menu-container {
    max-width: 1440px;
    margin: auto;
}
                                                                    
.homePage-container main {                     /*----------début du MAIN pour la HOME PAGE-----*/
    display: flex;
    flex-direction: column;
    background-color: $color-box;
    padding: 0 10px;
    margin: auto;
    margin-top: 30px;
    h2 {
        padding: 30px 0 0 10px;
        max-width: 1070px;
        width: 100%;
        margin: auto;
     }
   
    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        max-width: 1150px;
        margin: auto;
        column-gap: 40px;
        a {
            width: 100%;
            max-width: 480px;
            text-decoration: none;
            padding-top: 20px;
            margin: auto;
            figure {
                @include flexParameters-display-and-directionColumn;
                position: relative;
                margin-bottom: 20px;
                height: 250px;
                background-color: $color-textButton;
                border-radius: 15px;
                @include shadow;
                img {
                    display: flex;
                    width: 100%;
                    height: 170px;
                    object-position:0 62%;
                    object-fit: cover;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }
                .new {
                    position: absolute;
                    width: 80px;
                    height: 30px;
                    border-radius: 2px;
                    text-align: center;
                    background-color: $color-tertiary;
                    color: darken($color-tertiary, 40%);
                    font-weight: 500;
                    padding-top: 4px;
                    top: 11px;
                    right: 10px;
                }
                figcaption {
                    display: flex;
                    justify-content: space-between;
                    padding: 15px 15px;
                    p {
                        padding: 5px 0;
                        font-weight: 300;
                    }
                    /*.heart {
                        position: relative;
                        top: 0;
                        left: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        font-size: 1.5em;
                         
                        .empty {  
                            position: absolute;
                            top:0;
                            left: 0;
                            z-index: 4;
                            opacity:1;
                           transition: 0.8s;
                            &:hover {
                                opacity: 0;
                            }
                            &:hover + .full {
                                opacity: 1;
                            }
                        }

                        .full {
                            position: absolute;
                            top:0;
                            left: 0;
                            z-index: 1;
                            font-weight: bold;
                            background:linear-gradient($color-secondary, $color-primary); 
                            background-clip: border-box;          
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: #ffffff00;
                            opacity:0;
                            transition: 0.8s;
                           
                        }
                    }*/
                }
                
            }
        } 
    }
}                                                /*------- fin du MAIN pour la HOME PAGE ----------*/
.menu-container main {                         /* début du MAIN pour les pages MENUS----------------*/
    @include flexParameters-typeTwo;
    width: 100%;
    figure {
        @include flexParameters-typeOne;
        width: 100%;
        img {
            width: 100%;
            max-height: 500px;
            object-fit: cover;
        }
    }

    article {
        @include flexParameters-typeTwo;
        max-width: 950px;
        width: 100%;
        padding: 35px 10px 40px 10px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        background-color: $color-box;
        margin: auto;
        margin-top: -40px;
        .restaurant-name {
            @include flexParameters-typeOne;
            width: 100%;
            padding: 0 5px 30px 5px;
            .heart {
                padding-bottom: 25px;
            }
             h2 {
            font-family: Shrikhand;
            font-size: 1.3em;
            font-weight: 500;
            padding-right: 50px
            }
        }
        section {
            @include flexParameters-display-and-directionColumn;
            justify-content:center;
            align-items: start;
            min-width: 280px;
            max-width: 630px;
            width: 100%;
            padding-bottom: 30px;
            background-color:$color-box;
            opacity: 1;
            .dishes-type {
                font-size: 1em;
                font-weight: 300;
                padding-bottom: 5px;
                background-color:$color-box;
                padding: 0 0 20px 0;
                span {
                    text-decoration: underline;
                    text-underline-offset: 0.5em;
                    text-decoration-color: $color-tertiary;
                    text-decoration-thickness: 0.2em;
                    
                }
            }
          
            .dish {
                display: flex;
                justify-content: space-between;
                background-color: $color-textButton;
                margin: 10px 0 12px 0;
                border-radius: 10px;
                width: 100%;
                cursor: pointer;
                overflow: hidden;
                @include shadow;
                opacity:0;
                animation: appear 1s forwards;
                &__text {
                    width: 100%;
                    @include flexParameters-display-and-directionColumn;
                    /*justify-content: space-between;*/
                    padding: 12px 0 12px 10px;
                    h4 {
                        font-size: 1.2em;
                        padding: 0 0 4px 0;
                    }
                    p {
                        font-size: 0.95em;
                    }
                } 
                &__price {
                    display: flex;
                    justify-content: end;
                    align-items: end;
                    padding-right: 0;
                    font-weight: 600;
                    padding: 0 20px 10px 10px;  
                }
                &__coche {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100px;
                    margin-right: -100px;
                    overflow: hidden;
                    border-top-right-radius:10px ;
                     border-bottom-right-radius:10px ;
                    background-color: $color-tertiary;
                    transition: 0.5s  ease-in-out; 
                    i {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 30px;
                        height: 30px;
                        border-radius: 15px;
                        border: 1px solid white;
                        color: $color-tertiary;
                        background-color: $color-textButton; 
                        }
                } 
               
                &:nth-of-type(1) {
                    animation-delay: 0s;
                } 

                &:nth-of-type(2) {
                    animation-delay: 0.5s;
                } 

                &:nth-of-type(3) {
                    animation-delay: 1s;
                } 
           
            }

            @keyframes appear {
                0%
                    {
                    opacity: 0;
                    }
                100% {
                    opacity: 1;
                    margin-top: 0px;
                    }
        
            }
         

            .dish:hover {  
                .dish__text {
                     h4 {
                        max-width: 60vw;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    p {
                        max-width: 60vw;   
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    } 
                }
                .dish__coche {
                    margin-right: 0px
                }
            }  
        }
        @keyframes plats {
            0% {
                opacity:0;
            }
            100% {
                opacity:1;
            }
        }  
            
    }   
    button {
        @include button;
    }
}
 

                                            /*------fin du MAIN pour les pages MENUS--------*/

                