* {
    font-family: 'Shrikhand', sans-serif 'Roboto', sans-serif; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 1440px;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-box:#f8f8f8;
$color-text: #000000;
$color-textButton: #ffffff;
$color-paragraph:#545454;


h1, h2, h3, h4 {
    font-family: 'Roboto';
    font-weight: 800;
    color:$color-text;
}

h1 {
    font-size: 1.6em;
}

p{
    font-family: 'Roboto';
    font-weight: 400; 
    color:$color-paragraph; 
    font-size: 1.2em;
}

.homePage-container h1 {
    font-family: Shrikhand;
    font-weight: 400;
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    padding: 15px 0px 6px 0px; 
}

header {
    form {
        display: flex;
        justify-content: center;
        align-items:center;
        background-color: darken($color-box, 5%);
        height: 50px;
        margin-top: 5px;
        padding-left: 70px;
        box-shadow:inset 0px 3px 5px darken($color-box, 20%);
        input {
            border:none;
            text-indent: 20px;
            font-size: 1em;
            font-weight: 500;
            background-color: #ffffff00;
        }
    }
    .presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
        height:285px;
        background-color: $color-box;
        h2 {
            padding: 40px 60px 10px 60px;
            text-align: center;
        }
        p {
            padding:0px 0px 25px 30px;
            text-align: center;
        }
        button {
            width: 220px;
            height: 50px;
            border-radius: 50px;
            border: none;
            font-size: 1em;
            background:linear-gradient($color-secondary, $color-primary);
            color: $color-textButton;

        }
    }

    h2 {
        padding-bottom: 35px;
        padding-left: 20px;
    }
    .listbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &__link{
            position: relative;
            max-width: 330px;
            width:100%;
            height: 75px;
            display: flex;
            justify-content: left;
            align-items: center;
            padding: 20px;
            margin-bottom: 25px;
            border-radius: 20px;
            background-color: $color-box;
            box-shadow: 0 5px 5px darken($color-box, 5%);
            &--index {
                position: absolute;
                left:-10px;
                width: 25px;
                height: 25px;
                text-align: center;
                vertical-align:middle;
                padding-top: 4px;
                border-radius: 12.5px;
                color: $color-textButton;
                background-color: $color-primary;
            }
            &--icon {
                padding-left: 15px;
                color: $color-paragraph;
                }
            .primaryColor{   
                        color:$color-primary;
            } 
            &--text {
                font-family:'Roboto' ;
                padding-left: 20px;
                font-size: 1.1em;
                font-weight: 500;
            }

        }
    }

}
