footer {                                                  /*-----début du FOOTER------*/
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-items: end;
    min-height: 80px;
    padding: 0 0 15px 35px;
    background-color: darken($color-paragraph, 20%);
    width: 100%;
    p {
        font-family: Shrikhand;
        font-size: 1.2em;
        color: $color-textButton;
        padding: 12px 0 0px;
        width: 150px;
        text-align:start;
        margin-left: 0;
    }


    nav {
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;
        margin-left:auto;
        margin-right: 0;
    }
    nav .navbar {
        display: flex;
        flex-wrap: wrap;
        min-width: 260px;
        width: 100%;
        .navbar__link {
            list-style:none ;
            width: 200px;
            padding-bottom: 8px;
            font-family: 'Roboto';
            text-align: start;
            font-size: 1em;
            &.essai {
                width:145px
            }
        .navbar__icon {   
            padding-right: 10px; 
            color: $color-textButton; 
            &--fontSizePartner {
            font-size: 0.7em;
                 }
            } 
            a {
            list-style: none;
            color:$color-textButton;
            padding: 4px 0;
            font-size: 1em;
            text-decoration: none;
            }                                              /*-------fin du FOOTER--------*/
        }
    }    
}