@charset "UTF-8";
/*------------début des variables et miwins-----------*/
.homePage-container header form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  height: 50px;
  margin-top: 5px;
  padding-left: 70px;
  box-shadow: inset 0px 3px 5px #c5c5c5;
}
.homePage-container header form input {
  border: none;
  text-indent: 20px;
  font-weight: 550;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
.homePage-container header .presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  padding-bottom: 40px;
}
.homePage-container header .presentation h2 {
  padding: 35px 60px 30px 60px;
  text-align: center;
}
.homePage-container header .presentation p {
  padding: 0px 9px 25px 10px;
  text-align: center;
}
.homePage-container header .presentation button {
  width: 220px;
  height: 50px;
  border-radius: 50px;
  border: none;
  font-size: 1em;
  background: linear-gradient(#FF79DA, #9356DC);
  color: #ffffff;
  box-shadow: 0 5px 5px #c5c5c5;
  opacity: 1;
  cursor: pointer;
}
.homePage-container header .presentation button:hover {
  opacity: 0.85;
  box-shadow: 0 5px 5px #5f5f5f;
}
.homePage-container header .navbar h2 {
  padding: 40px 0 25px 20px;
  max-width: 1070px;
  width: 100%;
  margin: auto;
}
.homePage-container header .listbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  padding: 0 20px 0 20px;
}
.homePage-container header .listbar__link {
  position: relative;
  max-width: 320px;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px 0 20px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #f8f8f8;
  box-shadow: 0 5px 5px #ebebeb;
}
.homePage-container header .listbar__link--index {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  color: #ffffff;
  background-color: #9356DC;
}
.homePage-container header .listbar__link--icon {
  padding-left: 15px;
  font-size: 1.3em;
  color: #636262;
}
.homePage-container header .listbar__link--colorIcon {
  color: #9356DC;
}
.homePage-container header .listbar__link--text {
  font-family: "Roboto";
  padding-left: 20px;
  font-size: 1.1em;
  font-weight: 500;
}
.homePage-container header .listbar__link:hover {
  background: #f2eafb;
  cursor: pointer;
}

.menu-container header { /*--------début HEADER des MENUS----------*/
  display: flex;
  padding: 10px 50px 5px 20px;
}
.menu-container header a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  text-decoration: none;
}
.menu-container header a i {
  font-size: 1.3em;
  font-weight: 700;
}

footer { /*-----début du FOOTER------*/
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: end;
  min-height: 80px;
  padding: 0 0 15px 35px;
  background-color: #302f2f;
  width: 100%;
}
footer p {
  font-family: Shrikhand;
  font-size: 1.2em;
  color: #ffffff;
  padding: 12px 0 0px;
  width: 150px;
  text-align: start;
  margin-left: 0;
}
footer nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  margin-left: auto;
  margin-right: 0;
}
footer nav .navbar {
  display: flex;
  flex-wrap: wrap;
  min-width: 260px;
  width: 100%;
}
footer nav .navbar .navbar__link {
  list-style: none;
  width: 200px;
  padding-bottom: 8px;
  font-family: "Roboto";
  text-align: start;
  font-size: 1em;
  /*-------fin du FOOTER--------*/
}
footer nav .navbar .navbar__link.essai {
  width: 145px;
}
footer nav .navbar .navbar__link .navbar__icon {
  padding-right: 10px;
  color: #ffffff;
}
footer nav .navbar .navbar__link .navbar__icon--fontSizePartner {
  font-size: 0.7em;
}
footer nav .navbar .navbar__link a {
  list-style: none;
  color: #ffffff;
  padding: 4px 0;
  font-size: 1em;
  text-decoration: none;
}

.loader-container { /*--------début de l'animation LOADER-----*/
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 6;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  animation: loaderStop 0.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.loader-container span {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  top: -10%;
  background: linear-gradient(#FF79DA 30%, #9356DC, #99E2D0 70%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  animation: loader 1.5s ease-in-out infinite;
  animation-iteration-count: 2;
  opacity: 0;
}
.loader-container .span--1 {
  animation-delay: 0.1s;
}
.loader-container .span--2 {
  animation-delay: 0.2s;
}
.loader-container .span--3 {
  animation-delay: 0.3s;
}
.loader-container .span--4 {
  animation-delay: 0.4s;
}
.loader-container .span--5 {
  animation-delay: 0.5s;
}
.loader-container .span--6 {
  animation-delay: 0.6s;
}
.loader-container .span--7 {
  animation-delay: 0.7s;
}
.loader-container .span--8 {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.5;
  }
  25% {
    opacity: 1;
    top: 0;
    transform: rotateX(180deg);
    transform: rotateY(0deg);
    transform: translate(-50px);
  }
  100% {
    opacity: 1;
    top: 0;
    transform: rotateX(360deg);
    transform: rotateY(90deg);
    transform: translate(-50px);
  }
}
@keyframes loaderStop {
  0% {
    left: -1500px;
  }
  100% {
    left: -1500px;
  }
} /*---------fin animation LOADER------------*/
.heart { /*----début animation du COEUR-------*/
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  font-size: 1.5em;
}
.heart .empty {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  opacity: 1;
  transition: 0.8s;
}
.heart .empty:hover {
  opacity: 0;
}
.heart .empty:hover + .full {
  opacity: 1;
}
.heart .full {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-weight: bold;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  opacity: 0;
  transition: 0.8s;
}

/*---------- fin animation du coeur-------------*/
* { /*------------début de généralités------------------*/
  font-family: "Shrikhand", sans-serif;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: "Roboto";
  font-weight: 800;
  color: #000000;
}

h1 {
  font-family: Shrikhand;
  font-size: 1.8em;
  font-weight: 400;
  margin: auto;
}

h2 {
  font-size: 1.7em;
}

p, input, i {
  font-family: "Roboto";
  font-weight: 400;
  color: #636262;
  font-size: 1em;
} /*--------fin de généralités-------------*/
/*------fin des variables mixins et import---------*/
.homePage-container {
  max-width: 1440px;
  margin: auto;
}
.homePage-container h1 {
  text-align: center;
  padding: 15px 0px 6px 0px;
}

.menu-container {
  max-width: 1440px;
  margin: auto;
}

.homePage-container main { /*----------début du MAIN pour la HOME PAGE-----*/
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 0 10px;
  margin: auto;
  margin-top: 30px;
}
.homePage-container main h2 {
  padding: 30px 0 0 10px;
  max-width: 1070px;
  width: 100%;
  margin: auto;
}
.homePage-container main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1150px;
  margin: auto;
  column-gap: 40px;
}
.homePage-container main section a {
  width: 100%;
  max-width: 480px;
  text-decoration: none;
  padding-top: 20px;
  margin: auto;
}
.homePage-container main section a figure {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
  height: 250px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 5px 5px #ebebeb;
}
.homePage-container main section a figure img {
  display: flex;
  width: 100%;
  height: 170px;
  object-position: 0 62%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.homePage-container main section a figure .new {
  position: absolute;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  text-align: center;
  background-color: #99E2D0;
  color: #278870;
  font-weight: 500;
  padding-top: 4px;
  top: 11px;
  right: 10px;
}
.homePage-container main section a figure figcaption {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  /*.heart {
      position: relative;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      font-size: 1.5em;

      .empty {  
          position: absolute;
          top:0;
          left: 0;
          z-index: 4;
          opacity:1;
         transition: 0.8s;
          &:hover {
              opacity: 0;
          }
          &:hover + .full {
              opacity: 1;
          }
      }

      .full {
          position: absolute;
          top:0;
          left: 0;
          z-index: 1;
          font-weight: bold;
          background:linear-gradient($color-secondary, $color-primary); 
          background-clip: border-box;          
          -webkit-background-clip: text;
          -webkit-text-fill-color: #ffffff00;
          opacity:0;
          transition: 0.8s;

      }
  }*/
}
.homePage-container main section a figure figcaption p {
  padding: 5px 0;
  font-weight: 300;
}

/*------- fin du MAIN pour la HOME PAGE ----------*/
.menu-container main { /* début du MAIN pour les pages MENUS----------------*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu-container main figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu-container main figure img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}
.menu-container main article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 950px;
  width: 100%;
  padding: 35px 10px 40px 10px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #f8f8f8;
  margin: auto;
  margin-top: -40px;
}
.menu-container main article .restaurant-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 5px 30px 5px;
}
.menu-container main article .restaurant-name .heart {
  padding-bottom: 25px;
}
.menu-container main article .restaurant-name h2 {
  font-family: Shrikhand;
  font-size: 1.3em;
  font-weight: 500;
  padding-right: 50px;
}
.menu-container main article section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  min-width: 280px;
  max-width: 630px;
  width: 100%;
  padding-bottom: 30px;
  background-color: #f8f8f8;
  opacity: 1;
}
.menu-container main article section .dishes-type {
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 5px;
  background-color: #f8f8f8;
  padding: 0 0 20px 0;
}
.menu-container main article section .dishes-type span {
  text-decoration: underline;
  text-underline-offset: 0.5em;
  text-decoration-color: #99E2D0;
  text-decoration-thickness: 0.2em;
}
.menu-container main article section .dish {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 10px 0 12px 0;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 5px 5px #ebebeb;
  opacity: 0;
  animation: appear 1s forwards;
}
.menu-container main article section .dish__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  padding: 12px 0 12px 10px;
}
.menu-container main article section .dish__text h4 {
  font-size: 1.2em;
  padding: 0 0 4px 0;
}
.menu-container main article section .dish__text p {
  font-size: 0.95em;
}
.menu-container main article section .dish__price {
  display: flex;
  justify-content: end;
  align-items: end;
  padding-right: 0;
  font-weight: 600;
  padding: 0 20px 10px 10px;
}
.menu-container main article section .dish__coche {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-right: -100px;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #99E2D0;
  transition: 0.5s ease-in-out;
}
.menu-container main article section .dish__coche i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid white;
  color: #99E2D0;
  background-color: #ffffff;
}
.menu-container main article section .dish:nth-of-type(1) {
  animation-delay: 0s;
}
.menu-container main article section .dish:nth-of-type(2) {
  animation-delay: 0.5s;
}
.menu-container main article section .dish:nth-of-type(3) {
  animation-delay: 1s;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
.menu-container main article section .dish:hover .dish__text h4 {
  max-width: 60vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-container main article section .dish:hover .dish__text p {
  max-width: 60vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-container main article section .dish:hover .dish__coche {
  margin-right: 0px;
}
@keyframes plats {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu-container main button {
  width: 220px;
  height: 50px;
  border-radius: 50px;
  border: none;
  font-size: 1em;
  background: linear-gradient(#FF79DA, #9356DC);
  color: #ffffff;
  box-shadow: 0 5px 5px #c5c5c5;
  opacity: 1;
  cursor: pointer;
}
.menu-container main button:hover {
  opacity: 0.85;
  box-shadow: 0 5px 5px #5f5f5f;
}

/*------fin du MAIN pour les pages MENUS--------*/

/*# sourceMappingURL=style.css.map */
